<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.microservice.www.mapper.RoleMapper">
  <resultMap id="BaseResultMap" type="cn.microservice.www.model.Role">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="role_name" jdbcType="VARCHAR" property="roleName" />
    <result column="role_key" jdbcType="VARCHAR" property="roleKey" />
    <result column="role_sort" jdbcType="INTEGER" property="roleSort" />
    <result column="role_remark" jdbcType="VARCHAR" property="roleRemark" />
    <result column="is_disable" jdbcType="TINYINT" property="isDisable" />
    <result column="is_delete" jdbcType="TINYINT" property="isDelete" />
    <result column="version" jdbcType="INTEGER" property="version" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>

  <sql id="BaseColumn">
    id, role_name, role_key, role_sort, role_remark, is_disable, is_delete, version,
    create_time, update_time
  </sql>

  <select id="selectRolesByAccountId" resultMap="BaseResultMap">
    SELECT
        <include refid="BaseColumn"></include>
    FROM
        role
    WHERE
        role.id IN (SELECT role_id FROM account_role_relation WHERE account_role_relation.account_id = #{accountId})
  </select>
</mapper>